:root {
  --color-red: #F56C6C;
  --color-green: #67C23A;
  --color-blue: #409EFF;
  --color-orange: #E6A23C;
  --color-light-grey: #EEEEEE;
  --color-grey: #AAAAAA;
}

.webspot-highlight-container {
  position: relative;
}

.webspot-highlight-container::before {
  background: transparent;
  /*cursor: pointer;*/
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.webspot-highlight-container:hover::before {
  opacity: 0.15;
}

.webspot-highlight-list-node {
  position: relative;
  display: block;
}

.webspot-highlight-list-node::before {
  z-index: 777;
  border: 1px solid var(--color-blue);
}

.webspot-highlight-list-node:hover::before {
  background: var(--color-blue);
}

.webspot-highlight-item-node::before {
  z-index: 888;
  border: 1px solid var(--color-orange);
}

.webspot-highlight-item-node:hover::before {
  background: var(--color-orange);
}

.webspot-highlight-item-field-node::before {
  z-index: 999;
  border: 1px solid var(--color-green);
}

.webspot-highlight-item-field-node:hover::before {
  border: 1px solid var(--color-green);
  background: var(--color-green);
}
