:root {
  --color-red: #F56C6C;
  --color-green: #67C23A;
  --color-blue: #409EFF;
  --color-orange: #E6A23C;
  --color-light-grey: #EEEEEE;
  --color-grey: #AAAAAA;
  --color-dark-grey: #333333;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow: hidden;
}

.top-navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 3px 10px #999999;
}

.top-navbar .logo-wrapper {
  margin-right: 18px;
  height: 36px;
  padding: 0 24px;
  border-right: var(--color-light-grey) 1px solid;
}

.top-navbar .logo-wrapper img {
  height: 100%;
}

.top-navbar .new-request-wrapper {
  padding: 0 18px 0 0;
}

.top-navbar .config-wrapper {
}

.main-container {
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: calc(100vh - 48px);
}

.request-history {
  max-width: 240px;
  overflow: auto;
}

/*.request-history .el-menu {*/
/*  border-right: none;*/
/*}*/

.nav-sidebar {
  max-width: 240px;
  overflow: hidden;
  border-right: 1px solid var(--color-light-grey);
}

.nav-sidebar .el-tree {
  height: calc(100% - 56px);
  overflow: auto;
}

.nav-sidebar .el-tree .el-tree-node {
  min-height: 56px;
}

.nav-sidebar .el-tree .el-tree-node__content {
  min-height: 56px;
}

.preview-container {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
}

iframe {
  border: none;
}

.el-menu-item:focus {
  background: inherit;
}

.el-menu-item.is-active {
  background: var(--el-menu-hover-bg-color);
}

.error-message-container {
  width: calc(100% - 240px);
  height: 100%;
}

.error-message-container .el-result__extra {
  width: 100%;
  max-height: 640px;
}

.error-message-container .el-result__extra .error-message {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: left;
  color: var(--color-red);
  border: 1px solid var(--color-light-grey);
  padding: 10px;
  background: #ffffff;
}
