body {
  margin: 0;
  padding: 0;
  position: relative;
}

.top-panel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 3px 10px #999999;
}

.top-panel #url {
  width: 240px;
}

iframe {
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 1;
  height: calc(100% - 48px);
  border: none;
}
